// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #008000;
$margin-bottom: 2em;

.navbar-nav {
	li {
		a {
			font-size: 20px;
		}
	}

}


#how_it_works {
	margin: $margin-bottom 0 $margin-bottom 0;


	.btn-primary {
		text-transform: uppercase;
	}

	form {
		margin: $margin-bottom 0 $margin-bottom 0;
	}

	img {
		margin-bottom: $margin-bottom;
	}

	p {
		margin-bottom: $margin-bottom;
	}

}

#services {
	margin: $margin-bottom 0 $margin-bottom 0;

	h3, h4 {
		background-color: $ginius_base_color;
		text-transform: uppercase;
		padding: 5px 0 5px 5px;
		text-align: left;
	}

	p {
		text-align: left;
	}
}


#partnership {
	margin: $margin-bottom 0 $margin-bottom 0;
}

#jobs {
	margin: $margin-bottom 0 $margin-bottom 0;
}

#contacts {
	margin: $margin-bottom 0 $margin-bottom 0;
}



.phone {
	font-size: 24px !important;
	// color: $green;
}

.first-page-text {
	font-size: 16px;

	h2 {
		z-index: 0;
		background-color: #fff;
		padding: 10px;
		width: 100%;
		display: inline;
		text-transform: uppercase;
	}

	.header {
		margin-bottom: $margin-bottom;
	}

}


// .header {
// 	float: left;
// 	display: block;
// }

// $screen-md-min: 992px;

.horizontal_line {
	border-top: 1px solid;
	position: relative;
	top: 1em;
	width: 100%;
	z-index: -10;
}
