// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #008000;
$margin-bottom: 2em;
$text-color: #585858;

.navbar-nav {
	li {
		a {
			font-size: 18px;
		}
	}

}

.nav-pills li a {
	color: black;
}

#how_it_works {
	margin: $margin-bottom 0 $margin-bottom 0;


	.btn-primary {
		text-transform: uppercase;
	}

	form {
		margin: $margin-bottom*2 0 $margin-bottom*2 0;
	}

	button {
		margin-bottom: $margin-bottom*2;
	}

	img {
		margin-bottom: $margin-bottom;
	}

	p {
		margin-bottom: $margin-bottom;
		padding: 0 1em 0 1em;
	}

}

#services {
	margin: $margin-bottom 0 $margin-bottom*2 0;

	h3, h4 {
		background-color: $ginius_base_color;
		text-transform: uppercase;
		padding: 5px 0 5px 5px;
		text-align: left;
	}

	p {
		text-align: left;
	}
}


#partnership {
	margin: $margin-bottom 0 $margin-bottom*2 0;
}

#jobs {
	margin: $margin-bottom 0 $margin-bottom*2 0;
}

#contacts {
	margin: $margin-bottom 0 $margin-bottom*2 0;
}



.phone {
	font-size: 24px !important;
	// color: $green;
}

.first-page-text {
	font-size: 16px;
	color: $text-color;

	h2 {
		color: black;
		z-index: 0;
		background-color: #fff;
		padding: 10px;
		width: 100%;
		display: inline;
		text-transform: uppercase;
	}

	h4 {
		color: black;
	}

	.header {
		margin-bottom: $margin-bottom*1.2;
	}

}


// .header {
// 	float: left;
// 	display: block;
// }

// $screen-md-min: 992px;

.horizontal_line {
	border-top: 1px solid;
	position: relative;
	top: 1em;
	width: 100%;
	z-index: -10;
}

.icon {

	margin: 2em 0 2em 0;

	.circle {
		border-radius: 50%;
		width: 120px;
		height: 120px;
		border: 2px dashed #6b4f8c;
	}

	.horizontal_line_circle {
		border-top: 2px dashed #6b4f8c;
	}
}


@media (min-width: $screen-lg-min) { 
	.circle {
		position: absolute;
		left: 92px;
		top: 0.7em;
		z-index: -10;
	}

	.horizontal_line_circle {
		position: absolute;
		top: 4.5em;
		left: 210px;
		z-index: -10;
		width: 60%;
	}
}

@media (max-width: $screen-md-max) { 
	.circle {
		position: absolute;
		left: 92px;
		top: 0.7em;
		z-index: -10;
	}

	.horizontal_line_circle {
		position: absolute;
		top: 4.5em;
		left: 210px;
		z-index: -10;
		width: 59%;
	}

}

@media (max-width: $screen-sm-max) { 
	.circle {
		position: absolute;
		left: 60px;
		top: 0.7em;
		z-index: -10;
	}

	.horizontal_line_circle {
		position: absolute;
		top: 4.5em;
		left: 184px;
		z-index: -10;
		width: 50%;
	}
	.col-xs-6:nth-child(odd) {
    	clear: both;
	}

}

